<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SEVEN BANK</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

    <!-- <style>
    .outlined-table {
        outline: 2px solid gray; /* Outline properties */
        outline-offset: 5px;    /* Outline offset */
    }
    </style> -->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">SEVEN BANK</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">

        <span id="loginSpan">
            <!-- 경로 수정 -->
          <form action="/auth/login" method="post">
            <!-- name 변경! -->
                ID <input size="8" name="auth_id"> 
                PW <input size="8" name="password"> 
                <input type="submit" value="login" class="btn btn-outline-info">
          </form>
        </span>

        <ul>
          <li><a class="nav-link scrollto active" href="index.html">홈</a></li>
          <li><a class="nav-link scrollto" href="#about">회원가입</a></li>
          <li><a class="nav-link scrollto" href="#about">마이페이지</a></li>
          <li><a class="nav-link scrollto" href="#services">내 계좌</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">송금</a></li>
          <li class="dropdown"><a href="#"><span>게시판</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">공지사항</a></li>
              <li><a href="/qna/list">QnA</a></li>
            </ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>환영합니다 <span>손빈</span> 님</h1>
      <p></p>
      <h2>고객의 행복과 더 나은 세상을 만들겠습니다</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">


    <div class="container mt-5">
        <div class="row">
            <!-- Announcements Section -->
            <div class="col-md-6">
                <h2>공지사항</h2>
                <table class="table table-striped outlined-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">제 목</th>
                            <th scope="col">작 성 일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Announcement Title 1</td>
                            <td>2024-07-01</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Announcement Title 2</td>
                            <td>2024-06-30</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Announcement Title 3</td>
                            <td>2024-06-29</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Announcement Title 4</td>
                            <td>2024-06-28</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Announcement Title 5</td>
                            <td>2024-06-27</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- QnA Section -->
            <div class="col-md-6">
                <h2>QnA</h2>
                <table class="table table-striped outlined-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">제 목</th>
                            <th scope="col">작  성  일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Question Title 1</td>
                            <td>2024-07-01</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Question Title 2</td>
                            <td>2024-06-30</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Question Title 3</td>
                            <td>2024-06-29</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Question Title 4</td>
                            <td>2024-06-28</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Question Title 5</td>
                            <td>2024-06-27</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>What We Do</h2>
          <p>Magnam dolores commodi suscipit consequatur ex aliquid</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Seven bank</h3>
            <p>
              대한민국 KOR<br>
              서울 Seoul<br>
              종로구 종로3길 17<br>
              D1동 16층, 17층<br>
              03155<br>
              <br><br>
              <strong>Phone:</strong> +82 000 0000 0000 <br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-5 col-md-6 footer-teaminfo">
            <h3>WEB Final Project_Team#7</h3>
            <p></p>
            <ul>
              <li><h4>[조장] 손빈 : 프로젝트 파이팅 담당</h4></li>
              <p></p>
              <li><h4>[팀원] 윤현석 : 묵묵히 성실 작업 담당</h4></li>
              <p></p>
              <li><h4>[팀원] 채홍무 : 파이팅 호응 담당</h4></li>
              <p></p>
              <li><h4>[팀원] 최건우 : 경고 2장</h4></li>
              <p></p>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>