<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span id="loginSpan">
        <!-- 경로 수정 -->
        <form action="/auth/login" method="post">
          <!-- name 변경! -->
          ID <input size="3" name="user_id">
          PW <input size="3" name="password">
          <input type="submit" value="login" class="btn btn-outline-info">
        </form>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">메인화면</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled logined" href="/profile">사용자 정보 확인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled logined" href="/account">계좌정보 확인</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p></p>

<!-- 부트스트랩 라이브러리 : 네브바에 해놓는다면 각 페이지마다 라이브러리를 연결 안해도 된다. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- 제이쿼리 기본 라이브러리 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- 제이쿼리 쿠키 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

<script>
  // NavBar 가 있는 곳은 항상 실행된다.
  // 웹 브라우저 메모리에 uid 쿠키가 있는 지 확인
  const uid = $.cookie('uid'); // 쿠키에서 uid 를 찾아서 가져온다. 있으면 가져오고, 없으면 null 로 가져온다.

  // uid 쿠키가 있는 것이 확인된다면, 로그아웃 버튼이 보이게 할 것이다.
  if (uid) {
    $(".logined").removeClass("disabled");
    $('#loginSpan').html(`${uid} <button onclick = 'logout()'>logout</button>`);
  }

  function logout() {
    $.removeCookie('uid', {
      path: '/'
    }); // $의 내장 모듈 : removeCookie
    location.href = "/auth/logout";
  }
</script>